<!-- Main difference between this an index is that the scripts and styles are inlined
so that they can be viewed locally without dealing with the GAS HTMLService-->

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        {{> ../../dist/cutestrap }}
        {{> ../../dist/css }}
        {{> ../../dist/js }}
    </head>

    <body>
        <div class='relative-wrapper'>
            {{> header }}
            {{> main }}
            <div class='footer-spacer'></div>
            {{> footer }} 
        </div>
    </body>
</html>



