<!--Success-->
<div id="complete" class='alert alert-success' role='alert'>
    <b>Copying has started in background</b>
    <ul class="icon-ul">
        <li>Copying folder "<span class="folderName"></span>".  You may close this window and the copying will continue in the background.</li>
        <li>Please check the <span id="copy-log-link"></span> for progress updates. This log is located inside the newly created folder.</li>
        <li>The new folder copy can be found <span id="dest-folder-link"></span>.</li>
        <li>At this time, you can only copy one folder at a time.  Please wait until this copy completes before starting another.</li>
    </ul>
</div>

<div id="please-review" class="panel">
    <div class="panel-heading">Have an extra 30 seconds?</div>
    Please take a moment to

    <!-- Thanks to https://buttons.github.io/ -->
    <a class="github-button" href="https://github.com/ericyd/gdrive-copy" data-icon="octicon-star" data-style="mega" aria-label="Star ericyd/gdrive-copy on GitHub">Star</a>
    the project on Github or

    <a href="https://chrome.google.com/webstore/detail/copy-folder/kfbicpdhiofpicipfggljdhjokjblnhl/reviews" target="_blank">rate the app</a> in the Chrome Web Store.
</div> 

<!--Error-->
<!--These divs get filled programatically at runtime-->
    <div id="errors"></div>
    <div id="too-many-triggers" class="alert alert-danger">
        There are too many existing Copy Folder instances running.
        Please wait until the other instances complete to begin a new folder copy.<br><br>
        If there are no other folders currently being copied, you can force this operation to continue.
        Note: This will stop any other folder copies that are active on your account.
        <button id="delete-existing-triggers" class="btn btn--small btn--nav">Force continue</button>
    </div>
</div>
