<!--Success-->
<div class='complete alert alert-success' role='alert'>
    <b>Copying has started in background</b>
    <ul class="icon-ul">
        <li>Copying folder "<span class="folderName"></span>".  You may close this window and the copying will continue in the background.</li>
        <li>Please check the <span class="copy-log-link"></span> for progress updates. This log is located inside the newly created folder.</li>
        <li>The new folder copy can be found <span class="dest-folder-link"></span>.</li>
        <li>At this time, you can only copy one folder at a time.  Please wait until this copy completes before starting another.</li>
    </ul>
</div>

<div class="please-review panel">
    <div class="panel-heading">Have an extra 30 seconds?</div>
    Please take a moment to

    <!-- Thanks to https://buttons.github.io/ -->
    <span class='github-button-wrapper'><a class="github-button" href="https://github.com/ericyd/gdrive-copy" data-icon="octicon-star" data-style="mega" aria-label="Star ericyd/gdrive-copy on GitHub">Star</a></span>
    the project on Github or

    <a href="https://chrome.google.com/webstore/detail/copy-folder/kfbicpdhiofpicipfggljdhjokjblnhl/reviews" target="_blank">rate the app</a> in the Chrome Web Store.
</div> 
