@import "my-variables";

.tab {
    display: none;

    &.active {
        display: block;
    }
}

#start-step1,
#pause-step1 {
    display: block;
}

#start-step2,
#pause-step2 {
    display: none;
}